/* Custom CSS for navbar background color */
*{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color:#179178;
}

.App {
  background-color:whitesmoke;
}
.bg-custom-color {
    background-color:#F72798;
  }

  #navbar{
    width: 100%;
    border: none;
  }

  .navbar {
    width: 100%;
  }

  .borderse{
    border: 2px solid transparent;
}
.borderse:hover{
    border: 2px solid white;
}

  .footer{
    background-color:#222f3d;
  }
  .footers{
    background-color: #37475a;
  }
  /* slider */
  .slider {
    background-color:#FFBB00;
  }

  /* home */
  .bg-custom-colors {
    background-color:#ffffff;
  }

  .lorn{
   
    color: #F72798;
    
  }

  .oranges{
    color: orange;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    justify-content: center;
    color: #ffffff;
  }
  

  /* footer */
 
  /* page services */
  .mach{
    text-align: center;
    color: black;
}

.D1, .D2, .D3 {
    background-color: #ffffff;
    color: black;
}

/* About */
.form-floating.filled label {
  opacity: 0;
  
}


#ab-1{
  color: white;
  text-align: center;
}
.about-us{ 
  display: flex;
  

  background-color: #012b3a;
    
}
.has-text-align-center{
  text-align: center;

}

.text{

 color: rgb(240, 229, 229);
   
}
.text h2{
  font-size: 90px;
  font-weight: 600;

}
.text h5{
  font-weight: 500;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.main{
background-color: #179178;
padding: 1rem;
}