/* Custom CSS for navbar background color */
*{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color:#179178;
}

.App {
  background-color:whitesmoke;
}
.bg-custom-color {
    background-color:#F72798;
  }

  #navbar{
    width: 100%;
    border: none;
  }

  .navbar {
    width: 100%;
  }

  .footer{
    background-color:#37475a;
  }
  /* slider */
  .slider {
    background-color:#FFBB00;
  }

  /* home */
  .bg-custom-colors {
    background-color:#ffffff;
  }

  .lorn{
    background-color: #00ffab;
    color: #F72798;
  }

  .oranges{
    color: orange;
  }

  /* footer */
 
  /* page services */
  .mach{
    text-align: center;
    color: black;
}

.D1, .D2, .D3 {
    width: 100%; 
    background-color: #173F5F;
    margin: 1rem; 
    padding: 1rem;
}

/* About */

.main{
    
  padding-top: 25px;
  height: 100px;
  width:1536px;
  background-color: #656772;
  font-size: 40px;
  font-family: arial;
}

#ab-1{
  color: white;
  text-align: center;
}
.about-us{ 
  display: flex;
  padding: 0% 25% 0% 25%;
 
  height: 400px;

  background-color: #012b3a;
    
}
.has-text-align-center{
  text-align: center;

}

.mrg-btn{
 padding: 15px;
 
}
.text{

 color: rgb(240, 229, 229);
   
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5{
  font-weight: 500;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.contact{
  margin-top: 50px;
  width: auto;
  height: 500px;
}

.wh-are-h5{
  font-size: 30px;
  font-weight: 800;
}
.ldr-main{
  padding: 50px;
}
.ldr{
  height: 20rem;
  text-align: center;
  margin: 0 361px;
  background-color: #eceff0;
  padding-top: 2rem;
}
.rm-drctr{
font-size: 20px;
}
.aml-drctr{
  margin-top: 6rem;
  font-size: 20px;
}
.clr-1{
  color: red;
  
}

.h11{
  margin-bottom: 50px; 
  margin-left: 460px;
}

.h12{
  margin-bottom: 50px;
}
.h13{
  margin-bottom: 50px;
}